* {
  box-sizing: border-box;
}

#mapid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: static !important;
}

.button {
  display: flex;
  justify-content: center;
  align-items: space-around;
  z-index: 900;
  position: relative;
  width: 200px;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
}

.button.law1 {
  background: red;
  color: white;
}

.button.law2 {
  background: yellow;
}

.button.law3 {
  background: blue;
  color: white;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 150px;
  height: 150px;
  border: 18px solid #fff;
  border-radius: 50%;
  border-top: 18px solid #d4fe97;
  border-bottom: 18px solid #5fa11c;
  animation: move 2s linear infinite;
}

@keyframes move {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
